<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 方式1：固定的服务提供者地址 -->
    <!--<bean id="rpcClientProxy" class="com.kitchen.rpc.client.RpcClientProxy">
        <constructor-arg name="registryCenterAddress">
            <array>
                <value>${rpc.service.address}</value>
            </array>
        </constructor-arg>
    </bean>-->

    <!-- 方式2：通过服务注册中心获取服务地址 -->
    <bean id="rpcClientProxy" class="com.kitchen.rpc.client.RpcClientProxy" scope="singleton" lazy-init="false">
        <constructor-arg name="registryCenterAddress" value="${rpc.registry.address}"/>
        <constructor-arg name="open" value="${rpc.consumer.open}"/><!-- 是否开启Rpc服务 -->
    </bean>

</beans>